# Ignore everything by default
*

!cmor/
!cmor/**

# But don't ignore these specific items
!LICENSE*
!README.md
!.github/
!.github/**
!summaries/
!summaries/**

# Don't ignore .gitignore itself
!.gitignore
